* {
  box-sizing: border-box;
}
#container {
  margin: 0px auto;
}

#title {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.boxing {
  width: 600px;
  padding: 10px;
  margin: 30px auto;
  border: 1px dotted gray;
}
#product {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
table {
  border-collapse: collapse;
  border: 1px solid gray;
  text-align: center;
  padding: 10px;
}
th, td {
  border: 1px solid gray;
  padding: 5px;
}
.back_gray {
  background-color: #eee;
}